<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/" routerLinkActive="active-list-item" [routerLinkActiveOptions]="{exact:true}">REST</a>
    <a mat-button routerLink="/POST" routerLinkActive="active-list-item">POST</a>
    <a mat-button routerLink="/GET" routerLinkActive="active-list-item">GET</a>
    <a mat-button routerLink="/PUT" routerLinkActive="active-list-item">PUT</a>
    <a mat-button routerLink="/DELETE" routerLinkActive="active-list-item">DELETE</a>
  </mat-toolbar-row>
</mat-toolbar>
